body{
    background-color: gray;
    font-size: 15px;
    border: darkslategray thin 10px;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: .3em;
    text-decoration: underne;
    text-emphasis: bold;
  }
ul{
    padding-top: 0px;
    color: black;
    padding-left: 47%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ul :hover {
    background: #ddd;
    width: 65%;
} */
button{
    background-color: rgb(235, 145, 175);
}
#li1{
    color: black;
}#li2{
    color: black;
}#li3{
    color: black;
}#li4{
    color: black;
}
#g{
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
}